@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4"> <font color="#18D7F9">Welcome Poker Game</font></h1>
    <form action="/home/generar" method="post">
        <br />
          <div>
              <div>
                  <label for="lang">Carta 1</label>
                    <select name="palo" id="selectuno">
                        <option id="cora" value="corazon">Corazon</option>
                        <option id="tre" value="trebol">Trebol</option>
                        <option id="esp" value="espada">Espada</option>
                        <option id="coco" value="coco">Coco</option>
                    </select>
                <label for="lang">N°</label>
                    <select name="numero" id="unouno">
                        <option id="one" value="1">1</option>
                        <option id="two" value="2">2</option>
                        <option id="three" value="3">3</option>
                        <option id="four" value="4">4</option>
                        <option id="five" value="5">5</option>
                        <option id="six" value="6">6</option>
                        <option id="seven" value="7">7</option>
                        <option id="eight" value="8">8</option>
                        <option id="nine" value="9">9</option>
                        <option id="ten" value="10">10</option>
                        <option id="eleven" value="11">11</option>
                        <option id="twelve" value="12">12</option>
                        <option id="thirteen" value="13">13</option>
                    </select>
              </div>
            <div>
                  <label for="lang">Carta 2</label>
                    <select name="palo1" id="dos">
                        <option id="cora" value="corazon">Corazon</option>
                        <option id="tre" value="trebol">Trebol</option>
                        <option id="esp" value="espada">Espada</option>
                        <option id="coco" value="coco">Coco</option>
                    </select>
                <label for="lang">N°</label>
                    <select name="numero1" id="dosdos">
                        <option id="one" value="1">1</option>
                        <option id="two" value="2">2</option>
                        <option id="three" value="3">3</option>
                        <option id="four" value="4">4</option>
                        <option id="five" value="5">5</option>
                        <option id="six" value="6">6</option>
                        <option id="seven" value="7">7</option>
                        <option id="eight" value="8">8</option>
                        <option id="nine" value="9">9</option>
                        <option id="ten" value="10">10</option>
                        <option id="eleven" value="11">11</option>
                        <option id="twelve" value="12">12</option>
                        <option id="thirteen" value="13">13</option>
                    </select>
              </div>
            <div>
                  <label for="lang">Carta 3</label>
                    <select name="palo2" id="tres">
                        <option id="cora" value="corazon">Corazon</option>
                        <option id="tre" value="trebol">Trebol</option>
                        <option id="esp" value="espada">Espada</option>
                        <option id="coco" value="coco">Coco</option>
                    </select>
                <label for="lang">N°</label>
                    <select name="numero2" id="trestres">
                        <option id="one" value="1">1</option>
                        <option id="two" value="2">2</option>
                        <option id="three" value="3">3</option>
                        <option id="four" value="4">4</option>
                        <option id="five" value="5">5</option>
                        <option id="six" value="6">6</option>
                        <option id="seven" value="7">7</option>
                        <option id="eight" value="8">8</option>
                        <option id="nine" value="9">9</option>
                        <option id="ten" value="10">10</option>
                        <option id="eleven" value="11">11</option>
                        <option id="twelve" value="12">12</option>
                        <option id="thirteen" value="13">13</option>
                    </select>
              </div>
            <div>
                  <label for="lang">Carta 4</label>
                    <select name="palo3" id="cuatro">
                        <option id="cora" value="corazon">Corazon</option>
                        <option id="tre" value="trebol">Trebol</option>
                        <option id="esp" value="espada">Espada</option>
                        <option id="coco" value="coco">Coco</option>
                    </select>
                <label for="lang">N°</label>
                    <select name="numero3" id="cuatrocuatro">
                        <option id="one" value="1">1</option>
                        <option id="two" value="2">2</option>
                        <option id="three" value="3">3</option>
                        <option id="four" value="4">4</option>
                        <option id="five" value="5">5</option>
                        <option id="six" value="6">6</option>
                        <option id="seven" value="7">7</option>
                        <option id="eight" value="8">8</option>
                        <option id="nine" value="9">9</option>
                        <option id="ten" value="10">10</option>
                        <option id="eleven" value="11">11</option>
                        <option id="twelve" value="12">12</option>
                        <option id="thirteen" value="13">13</option>
                    </select>
              </div>
              <div>
                  <label for="lang">Carta 5</label>
                    <select name="palo4" id="cinco">
                        <option id="cora" value="corazon">Corazon</option>
                        <option id="tre" value="trebol">Trebol</option>
                        <option id="esp" value="espada">Espada</option>
                        <option id="coco" value="coco">Coco</option>
                    </select>
                <label for="lang">N°</label>
                    <select name="numero4" id="cincocinco">
                        <option id="one" value="1">1</option>
                        <option id="two" value="2">2</option>
                        <option id="three" value="3">3</option>
                        <option id="four" value="4">4</option>
                        <option id="five" value="5">5</option>
                        <option id="six" value="6">6</option>
                        <option id="seven" value="7">7</option>
                        <option id="eight" value="8">8</option>
                        <option id="nine" value="9">9</option>
                        <option id="ten" value="10">10</option>
                        <option id="eleven" value="11">11</option>
                        <option id="twelve" value="12">12</option>
                        <option id="thirteen" value="13">13</option>
                    </select>
              </div>
          </div>
      <br/>
      <br/>
      <button class="btn btn-primary" id="btnJugada">Jugada</button>
    </form>

    <h1><font color="#F91859">Jugada: @ViewBag.Jugada</font></h1>
</div>